body {
    background-color: aqua;
    margin: auto 60px;
}
h1 {
    font-size: ;
    font-family: ;
    padding: ;
    margin: ;
    font-weight: ;
    text-decoration: ;
    color: ;
    background-color: ;
}

h2 {
    font-size: ;
    font-family: ;
    padding: ;
    margin: ;
    font-weight: ;
    color: ;
    background-color: ;
}

p {
    font-family: ;
    font-size: ;
    padding: ;
    margin: ;
    color: ;
    background-color: ;
}

.logo {
    background-size: cover;
    background-image: url();
    background-color: ;
    height: ;
    width: ;
}

.nerko-one-regular {
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
  }
  

.matemasie-regular {
    font-family: "Matemasie", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
  }
  
  img {
    width: 300px;
 height: 300px; 
}