

.material-symbols-outlined {
  font-size: 100px;
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 100,
  
}

/* .material-symbols-outlined {
  font-size: 100px !important;
  width: 100px;
  height: 100px;
  
} */