h1 {
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    margin: 20px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(16, 14, 14);
    background-color: red;
}

h2 {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
    margin: 2px;
    font-weight: bold;
    color: black;
    background-color: gray;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    padding: 2px;
    margin: 2px;
    color: rgb(246, 241, 241);
    background-color: black;
}

.logo {
    background-size: cover;
    background-image: url(logo-emblem-black-1000.png);
    background-color: blueviolet;
    height: 100px;
    width: 100px;
}